config.json
/data/*
!/data/general
.Rproj.user
.httr-oauth
.Rhistory
/logs
/src/lter/OBSOLETE
src/.Rapp.history
data_acquisition.Rproj
/probsolete
.DS_Store
OBSOLETE
*.DS_Store
*.png
transfer_data
googlesheet_service_accnt.json
data_processing.Rproj
*.zip
plots/diagnostic_plots_*
all_*/
data.bak
macrosheds_dataset_v*
macrosheds_figshare_v*
data_hbef_highres
data/general/nhd_hr
output/
old_dataset_dirs.tar.gz
old_logs
eml/data_links
eml/eml_out
vault/*
.Rdata
VAULT
.RData
